/* https://www.w3schools.com/css/css3_flexbox.asp */
.container{
    margin: 10px 10px 10px 10px;
}
.container-row{
    display: flex;
    flex-direction: row;
}
.flex-justify-center{
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}

.flex-justify-pace-betweens{
    justify-content: space-between;
}

.flex-basis{
    flex-basis: 50px;
}