#imagem-item {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.good-mod{
    font-size: 15px;
    color: whitesmoke;
}
#pack-size-div {
    background-color: #001d4c;
    padding: 2px 4px 2px 4px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
}

#rarity-div {
    background-color: #60611e;
    padding: 2px 4px 2px 4px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
}

#quantity-div {
    background-color: #222b38;
    padding: 2px 4px 2px 4px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
}

.div-mod {
    /* background-color: rebeccapurple; */
    padding: 8px;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}

.texto-safe{
    font-size: 40px;
    color: #316627;
}
.item-info{
    background-color: #222b38;
    padding: 2px 4px 2px 4px;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}

.texto-mod {
    color: whitesmoke;
}
