#imagem-item{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.div-mod{
    background-color: rebeccapurple;
    padding: 8px;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}

.texto-mod{
    color:whitesmoke;
}