.item-body{
    height: 300px;
    width: 300px;  
}

/* #imagem-item {
    width: 30px;
    height: 30px;
    margin-right: 5px;
} */
.good-mod{
    font-size: 15px;
    color: whitesmoke;
}

.div-mod {
    /* background-color: rebeccapurple; */
    padding: 8px;
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
}

.texto-safe{
    font-size: 40px;
    color: #316627;
}
.item-info{
    background-color: #4e4e4e;
    padding: 3px 4px 3px 4px;
    margin: 3px 3px 3px 3px;
    border-radius: 2px;
}

.texto-mod {
    color: whitesmoke;
}

.tamanho-item-container{
    width: 280px;
}
.tamanho-item{
    height: 170px;
}