#div-stashes {
    background-color: whitesmoke;
    width: 100%;
    min-height: 230px;
    border-radius: 8px;
    margin: 10px 0 0px 0;
}

#salvar-chaos-reciper {
    width: 100px;
    padding: 5px 0 5px 0;
    margin: 20px 0 10px 0;
}

.div-stash {
    padding: 8px;
    margin: 3px 3px 3px 3px;
    border-radius: 2px;
    background-color: #353535;
}

.div-stash:hover{
    cursor: pointer;
}